<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - View Student</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a href="index.html">Home</a></li>
            <li class="active">Student</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2>Student</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li ui-sref="student-modify"> <button type="button" class="btn btn-default btn-add">
                  <i class="fa fa-plus"></i> ADD STUDENT
                  </button>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <div class="table-responsive">
               <table class="table table-striped jambo_table bulk_action">
                  <thead>
                     <tr class="headings">
                        <th class="column-title">Student Name </th>
                        <th class="column-title">IC Number </th>
                        <th class="column-title">Mobile Number</th>
                        <th class="column-title">Option </th>
                     </tr>
                     <tr>
						<th colspan="5"><input type="text" class="form-control" placeholder="Search..." st-search=""></th>
					</tr>
                  </thead>
                  <tbody>
                     <tr class="even pointer">
                        <td class=" ">Student A</td>
                        <td class=" ">951221-14-5080</td>
                        <td class=" ">6017-3324 5890</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                     <tr class="odd pointer">
                        <td class=" ">Student B</td>
                        <td class=" ">951221-14-5080</td>
                        <td class=" ">6017-3324 5890</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                     <tr class="even pointer">
                        <td class=" ">Student C</td>
                        <td class=" ">951221-14-5080</td>
                        <td class=" ">6017-3324 5890</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                     <tr class="odd pointer">
                       <td class=" ">Student D</td>
                        <td class=" ">951221-14-5080</td>
                        <td class=" ">6017-3324 5890</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                     <tr class="even pointer">
                        <td class=" ">Student E</td>
                        <td class=" ">951221-14-5080</td>
                        <td class=" ">6017-3324 5890</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                     <tr class="odd pointer">
                        <td class=" ">Student E</td>
                        <td class=" ">951221-14-5080</td>
                        <td class=" ">6017-3324 5890</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
               	<a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a>
               	<span>
               		<a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
               		<a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a>
               		<a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a>
               		<a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">4</a>
               		<a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0">5</a>
               		<a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0">6</a>
               	</span>
               		<a class="paginate_button next" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" id="DataTables_Table_0_next">Next</a>
               </div>
            </div>
         </div>
      </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>