<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - Student Form</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="student">Student</a></li>
            <li class="active" ng-show="studentController.student==null">Add Student</li>
            <li class="active" ng-show="studentController.student!=null">Edit Student</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2 ng-show="studentController.student==null">Add Student</h2>
            <h2 ng-show="studentController.student!=null">Edit Student</h2>
         </div>
         <div class="x_content">
            <input type="text" ng-show="false" ng-model="studentController.student.studentId">
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left ng-pristine ng-invalid ng-invalid-required" name="form" novalidate="" ng-submit="submit()">
               <div class="form-group" ng-class="{'has-error' : form.studentName.$dirty &amp;&amp; form.studentName.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="studentName">Student Name
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="studentController.student.name" name="studentName" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Student Name" required="">
                  </div>
                  <span class="help-block validMessage ng-binding ng-hide" ng-show="form.studentName.$dirty &amp;&amp; form.studentName.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.nric.$dirty &amp;&amp; form.nric.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nric">IC Number
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="studentController.student.nric" name="nric" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched"
                      placeholder="IC Number" required="">
                  </div>
                   <span class="help-block validMessage ng-binding ng-hide" ng-show="form.nric.$dirty &amp;&amp; form.nric.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.mobileNumber.$dirty &amp;&amp; form.mobileNumber.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobileNumber">Mobile Number
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="studentController.student.mobileNumber" name="mobileNumber" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched"
                     placeholder="Mobile Number" required="">
                  </div>
                   <span class="help-block validMessage ng-binding ng-hide" ng-show="form.mobileNumber.$dirty &amp;&amp; form.mobileNumber.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.course.$dirty &amp;&amp; form.course.$invalid}">
                  <label for="course" class="control-label col-md-3 col-sm-3 col-xs-12">Course Take<span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <select class="form-control" name="course" ng-model="studentController.course" ng-options="courseList.name for courseList in studentController.courseList" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" required="">
                      </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                 	 <button type="submit" class="btn btn-default ng-binding" ng-disabled="form.$invalid" ng-click="studentController.saveOrUpdateStudent()">Submit</button>
                     <button type="submit" class="btn btn-default ng-binding" ui-sref="student">Cancel</button>
                     <button type="reset" class="btn btn-default ng-binding">Reset</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>
