<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - View Student</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Student</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2>Student</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li ui-sref="student.modify({student:null})" ui-sref-opts="{reload: true}"> <button type="button" class="btn btn-default btn-add">
                  <i class="fa fa-plus"></i> ADD STUDENT
                  </button>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <div class="table-responsive">
               <table class="table table-striped jambo_table bulk_action">
                  <thead>
                     <tr class="headings">
                        <th class="column-title" ng-click="studentController.changeSorting('name')">Student Name <span ng-show="studentController.sort.column == 'name'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!studentController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="studentController.sort.descending"></i></span></th>
                        <th class="column-title" ng-click="studentController.changeSorting('nric')">IC Number <span ng-show="studentController.sort.column == 'nric'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!studentController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="studentController.sort.descending"></i></span></th>
                        <th class="column-title" ng-click="studentController.changeSorting('mobileNumber')">Mobile Number <span ng-show="studentController.sort.column == 'mobileNumber'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!studentController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="studentController.sort.descending"></i></span></th>
                        <th class="column-title" ng-click="studentController.changeSorting('courseBean.name')">Course Name <span ng-show="studentController.sort.column == 'courseBean.name'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!studentController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="studentController.sort.descending"></i></span></th>
                        <th class="column-title">Option </th>
                     </tr>
                     <tr>
						<th colspan="5"><input type="text" class="form-control" placeholder="Search..." st-search="" ng-model="studentController.tableSearch"></th>
					</tr>
                  </thead>
                  <tbody ng-repeat="student in studentController.studentList = (studentController.allStudent | filter : studentController.tableSearch) | filter : studentController.paginateFilter | orderBy:studentController.sort.column:studentController.sort.descending">
                     <tr class="even pointer">
                        <td class=" ">{{student.name}}</td>
                        <td class=" ">{{student.nric}}</td>
                        <td class=" ">{{student.mobileNumber}}</td>
                        <td class=" ">{{student.courseBean.name}}</td>

                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white" ng-click="studentController.updateStudent(student)">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white" ng-click="studentController.deleteStudent(student.studentId)">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                 <pagination total-items="studentController.studentList.length" items-per-page="studentController.numberPerPage" ng-model="studentController.currentPage" max-size="5" boundary-links="true"  class="pagination-sm"></pagination>
               </div>
            </div>
         </div>
      </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>
