<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - Subject</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="subject">Subject</a></li>
            <li class="active">Add Subject</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2>Add Subject</h2>
         </div>
         <div class="x_content">
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left ng-pristine ng-invalid ng-invalid-required" name="form" novalidate="" ng-submit="submit()">
               <input type="text" ng-show="false" ng-model="subjectController.subject.subjectId">
               <div class="form-group" ng-class="{'has-error' : form.subjectName.$dirty &amp;&amp; form.subjectName.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subjectName">Subject Name
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="subjectController.subject.name" name="subjectName" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Subject Name" required="">
                  </div>
                  <span class="help-block validMessage ng-binding ng-hide" ng-show="form.subjectName.$dirty &amp;&amp; form.subjectName.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.subjectCode.$dirty &amp;&amp; form.subjectCode.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subjectCode">Subject Code
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="subjectController.subject.code" name="subjectCode" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched"
                      placeholder="Subject Code" required="">
                  </div>
                   <span class="help-block validMessage ng-binding ng-hide" ng-show="form.subjectCode.$dirty &amp;&amp; form.subjectCode.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.creditHour.$dirty &amp;&amp; form.creditHour.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="creditHour">Credit Hour
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="subjectController.subject.creditHour" name="creditHour" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched"
                     placeholder="Credit Hour" required="">
                  </div>
                   <span class="help-block validMessage ng-binding ng-hide" ng-show="form.creditHour.$dirty &amp;&amp; form.creditHour.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                 	 <button type="submit" class="btn btn-default ng-binding" ng-disabled="form.$invalid" ng-click="subjectController.saveOrUpdateSubject()">Submit</button>
                     <button type="submit" class="btn btn-default ng-binding" ui-sref="subject">Cancel</button>
                     <button type="reset" class="btn btn-default ng-binding">Reset</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>
