<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - View Subject</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Subject</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2>Subject</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li ui-sref="subject.modify({subject:null})" ui-sref-opts="{reload: true}"> <button type="button" class="btn btn-default btn-add">
                  <i class="fa fa-plus"></i> ADD SUBJECT
                  </button>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <div class="table-responsive">
               <table class="table table-striped jambo_table bulk_action">
                  <thead>
                     <tr class="headings">
                        <th class="column-title">Subject Name </th>
                        <th class="column-title">Code</th>
                        <th class="column-title">Credit Hour</th>
                        <th class="column-title">Option </th>
                     </tr>
                     <tr>
						<th colspan="5"><input type="text" class="form-control" placeholder="Search..." st-search=""></th>
					</tr>
                  </thead>
                  <tbody ng-repeat="subject in subjectController.subjectList | filter : subjectController.paginateFilter">
                     <tr class="even pointer">
                        <td class=" ">{{subject.name}}</td>
                        <td class=" ">{{subject.code}}</td>
                        <td class=" ">{{subject.creditHour | number:1}}</td>
                        <td>
                           <div class="btn-group">
                               <button type="button" class="btn btn1 btn-default tooltips color-white" ng-click="subjectController.updateSubject(subject)">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white" ng-click="subjectController.deleteSubject(subject.subjectId)">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
                 <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                 <pagination total-items="subjectController.subjectList.length" items-per-page="subjectController.numberPerPage" ng-model="subjectController.currentPage" max-size="5" boundary-links="true"  class="pagination-sm"></pagination>
               </div>
            </div>
         </div>
      </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>
