<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - Course Form</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="course">Course</a></li>
            <li class="active" ng-show="courseController.course==null">Add Course</li>
            <li class="active" ng-show="courseController.course!=null">Edit Course</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2 ng-show="courseController.course==null">Add Course</h2>
            <h2 ng-show="courseController.course!=null">Edit Course</h2>
         </div>
         <div class="x_content">
            <input type="text" ng-show="false" ng-model="courseController.course.courseId">
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left ng-pristine ng-invalid ng-invalid-required" name="form" novalidate="" ng-submit="submit()">
               <div class="form-group" ng-class="{'has-error' : form.courseName.$dirty &amp;&amp; form.courseName.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="courseName">Course Name
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="courseController.course.name" name="courseName" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Course Name" required="">
                  </div>
                  <span class="help-block validMessage ng-binding ng-hide" ng-show="form.courseName.$dirty &amp;&amp; form.courseName.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.courseLevel.$dirty &amp;&amp; form.courseLevel.$invalid}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="courseLevel">Course Level
                  	<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" ng-model="courseController.course.level" name="courseLevel" class="form-control col-md-7 col-xs-12 ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Course Level" required="">
                  </div>
                   <span class="help-block validMessage ng-binding ng-hide" ng-show="form.courseLevel.$dirty &amp;&amp; form.courseLevel.$error.required">
						Please Fill
					</span>
               </div>
               <div class="form-group" ng-class="{'has-error' : form.year.$dirty &amp;&amp; form.year.$invalid}">
                  <label for="year" class="control-label col-md-3 col-sm-3 col-xs-12">Year To Finish<span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <select class="form-control" name="year" ng-model="courseController.course.yearToFinish" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" required="">
                        <option value="1" ng-selected="courseController.course.yearToFinish==1">1 Year</option>
                        <option value="2" ng-selected="courseController.course.yearToFinish==2">2 Years</option>
                        <option value="3" ng-selected="courseController.course.yearToFinish==3">3 Years</option>
                        <option value="4" ng-selected="courseController.course.yearToFinish==4">4 Years</option>
                        <option value="5" ng-selected="courseController.course.yearToFinish==5">5 Years</option>
                      </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                 	 <button type="submit" class="btn btn-default ng-binding" ng-disabled="form.$invalid" ng-click="courseController.saveOrUpdateCourse()">Submit</button>
                     <button type="submit" class="btn btn-default ng-binding" ui-sref="course">Cancel</button>
                     <button type="reset" class="btn btn-default ng-binding">Reset</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>
