<html>
<head>
<title>University Course Form</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="courseController as cC">
    <input type="text" ng-model="cC.course.courseId" ng-hide="true">
    <input type="text" ng-model="cC.course.name">
    <input type="text" ng-model="cC.course.level">
    <input type="text" ng-model="cC.course.yearToFinish">
    <input type="submit" ng-click="cC.addCourse()" value="ADD">
    <input type="submit" ng-click="cC.updateCourse()" value="UPDATE"><br><br>
    <input type="text" ng-model="cC.courseId">
    <input type="submit" ng-click="cC.loadCourse()" value="LOAD">
    <input type="submit" ng-click="cC.deleteCourse()" value="DELETE">
    <a href="../index.jsp"><input type="submit" value="BACK"></a>
</body>
<script>

(function(){
angular.module('myApp',[]).controller('courseController', courseController);
courseController.$inject = ['$scope','$http','$window','$location'];
  	function courseController($scope, $http, $window, $location){
      var self = this;
      self.courseId;
      self.course = {}
      self.addCourse = function(){
        $http({
            method : 'POST',
            url : 'saveCourse',
            data: self.course
          }).then(function(response) {
              $window.location.href = '../index.jsp';
          });
      }
      self.loadCourse = function(){
	   	  $http({
             method : 'GET',
             url : 'loadCourse/' + self.courseId
           }).then(function(response) {
             self.course = response.data;
           });  
      }
      self.deleteCourse = function(){
	   	  $http({
             method : 'DELETE',
             url : 'deleteCourse/' + self.course.courseId
           }).then(function(response) {
        	   $window.location.href = '../index.jsp';
           });  
      }
      self.updateCourse = function(){
	   	  $http({
             method : 'POST',
             url : 'updateCourse',
             data : self.course
           }).then(function(response) {
        	   $window.location.href = '../index.jsp';
           });  
      }
	}
})();
</script>
</html>
