<div class="page-header">
   <div class="page-header-content">
      <div class="page-title">
         <h4><i class="fa fa-chevron-circle-left position-left"></i> <span class="text-semibold">Home</span> - View Course</h4>
         <ul class="breadcrumb breadcrumb-caret position-right">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Course</li>
         </ul>
         <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
   </div>
</div>
<div class="page-container" style="min-height:689px;">
   <!-- Page content -->
   <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
         <!-- Single row selection -->
         <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="x_panel">
         <div class="x_title border-bottom">
            <h2>Course</h2>
            <ul class="nav navbar-right panel_toolbox">
               <li ui-sref="course.modify({course:null})" ui-sref-opts="{reload: true}"> <button type="button" class="btn btn-default btn-add">
                  <i class="fa fa-plus"></i> ADD COURSE
                  </button>
               </li>
            </ul>
         </div>
         <div class="x_content">
            <div class="table-responsive">
               <table class="table table-striped jambo_table bulk_action">
                  <thead>
                     <tr class="headings">
                        <th class="column-title" ng-click="courseController.changeSorting('name')">Course Name <span ng-show="courseController.sort.column == 'name'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!courseController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="courseController.sort.descending"></i></span></th>
                        <th class="column-title" ng-click="courseController.changeSorting('level')">Course Level <span ng-show="courseController.sort.column == 'level'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!courseController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="courseController.sort.descending"></i></span></th>
                        <th class="column-title" ng-click="courseController.changeSorting('yearToFinish')">Year To Finish <span ng-show="courseController.sort.column == 'yearToFinish'"><i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="!courseController.sort.descending"></i><i class="fa fa-sort-amount-desc" aria-hidden="true" ng-show="courseController.sort.descending"></i></span></th>
                        <th class="column-title">Option </th>
                     </tr>
                     <tr>
						<th colspan="5"><input type="text" class="form-control" placeholder="Search..." st-search="" ng-model="courseController.tableSearch"></th>
					</tr>
                  </thead>
                  <tbody ng-repeat="course in courseController.courseList = (courseController.allCourse | filter : courseController.tableSearch) | filter : courseController.paginateFilter | orderBy:courseController.sort.column:courseController.sort.descending">
                     <tr class="even pointer">
                        <td class="">{{course.name}}</td>
                        <td class="">{{course.level}}</td>
                        <td ng-if="course.yearToFinish > 1" class="">{{course.yearToFinish}} Years</td>
                        <td ng-if="course.yearToFinish < 2" class="">{{course.yearToFinish}} Year</td>
                        <td>
                           <div class="btn-group">
                              <button type="button" class="btn btn1 btn-default tooltips color-white" ng-click="courseController.updateCourse(course)">
                              <span class="tooltips-details">Update</span>
                              <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn1 btn-default tooltips color-white" ng-click="courseController.deleteCourse(course.courseId)">
                              <span class="tooltips-details">Delete</span>
                              <i class="fa fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                 <pagination total-items="courseController.courseList.length" items-per-page="courseController.numberPerPage" ng-model="courseController.currentPage" max-size="5" boundary-links="true"  class="pagination-sm"></pagination>
               </div>
            </div>
         </div>
      </div>
   </div>
      </div>
      <!-- /main content -->
   </div>
   <!-- /page content -->
</div>
